<!DOCTYPE html>
<html>

<head>

    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <div v-for="(ninja, index) in ninjass">
            <p>{{index}} - {{ninja.name}}</p>
            <p>Age: {{ninja.age}}</p>
            <p>Belt color: {{ninja.belt}}</p>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>